@font-face {
  font-family: "TTL";
  src: url("./assets/TTLakes-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brands-title {
  font-family: "TTL", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7e7e82;
  text-transform: uppercase;

  padding: 16px;
  margin: -24px -16px 24px;

  background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 100%);
  border-top: 1px solid #d9fff5;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 24px 16px;
}

.brands-title {
  font-family: "TTL", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7e7e82;

  margin-bottom: 24px;
}

.brands-grid {
  display: grid;
  gap: 16px;
}

.brand-card {
  height: 72px;

  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
}

.brand-card img {
  max-width: 110px;
  max-height: 40px;
  object-fit: contain;
}

.show-more {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: 24px;

  border: none;
  background: transparent;
  cursor: pointer;

  font-family: "TTL", sans-serif;
  font-size: 16px;
  font-weight: 500;

  width: fit-content;
}

.show-more-icon {
  transition: 0.3s;
}

.show-more.active .show-more-icon {
  transform: rotate(180deg);
}

.brands-slider {
  display: none;
}

@media (min-width: 1120px) {
  .brands-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  .brands-grid .brand-card:nth-child(n + 9) {
    display: none;
  }

  .brands-grid.open .brand-card {
    display: flex;
  }

  .brands-slider {
    display: none;
  }

  .show-more {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .brands-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .brands-grid .brand-card:nth-child(n + 7) {
    display: none;
  }

  .brands-grid.open .brand-card {
    display: flex;
  }

  .brands-slider {
    display: none;
  }

  .show-more {
    display: flex;
  }
}

@media (max-width: 767px) {
  .brands-grid {
    display: none;
  }

  .brands-slider {
    display: block;
  }

  .swiper-slide {
    width: 240px !important;
  }

  .show-more {
    display: none;
  }

  .swiper-pagination {
    position: static;
    margin-top: 16px;
  }
}
